<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Big Chill Philippines</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static css/style.css %}" rel="stylesheet">
        <link href="{% static css/bootstrap-min.css %}" rel="stylesheet">
    </head>
    <body>
        <!-- header start -->
        <!-- header end -->

        <!-- description start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    
                </div>
                <div class="col-xs-12 col-md-6">
                    
                </div>
            </div>
        </div>
        <!-- description end -->

        <!-- menu start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    
                </div>
                <div class="col-xs-12 col-md-4">
                    
                </div>
                <div class="col-xs-12 col-md-4">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    
                </div>
                <div class="col-xs-12 col-md-4">
                    
                </div>
                <div class="col-xs-12 col-md-4">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    
                </div>
                <div class="col-xs-12 col-md-4">
                    
                </div>
                <div class="col-xs-12 col-md-4">
                    
                </div>
            </div>
        </div>
        <!-- menu end -->
    
        <!-- coupon start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    
                </div>
                <div class="col-xs-12 col-md-6">
                    
                </div>
            </div>
        </div>
        <!-- coupon end -->

        <!-- services start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    
                </div>
                <div class="col-xs-12 col-md-6">
                    
                </div>
            </div>
        </div>
        <!-- services end -->

        <!-- events carousel start -->
        <!-- events carousel end -->

        <!-- contact start -->
        <!-- contact end -->

        <!-- footer start -->
        <!-- footer end -->


    </body>
    <script src="{% static js/bootstrap-min.js %}"> </script>
</html>