@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

h2 {
    font-weight: 700;
}
